mixin content()
	section#content
		article

			h1 Clothing Store

			hr

			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat rem molestias natus accusantium beatae sunt optio doloremque, porro ut enim quia, neque. Itaque quam totam sint sed hic. Dolorum saepe numquam dolores officia dicta velit tempore voluptatibus eaque hic suscipit itaque culpa omnis earum odio quia reprehenderit beatae sunt similique neque, nihil quasi architecto autem voluptatem.
		div(style="height: 2000px")